@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!--  require.js initialization - this is where the magic happens -->
        <script data-main="@routes.Assets.at("javascripts/main")" src="@routes.Assets.at("javascripts/require/2.0.1/require.js")"></script>        
    </head>
    <body>
        @content
        <!--  This is probably incorrect to define JQuery here since requirejs loads it -->
        <!--  without defining it here bootstrap will not work -->
        <script src="@routes.Assets.at("javascripts/jquery/1.7.1/jquery-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/2.0.1/bootstrap.min.js")"></script>
    </body>
</html>